[flake8]
exclude = .git
max-line-length = 88
inline-quotes = double

ignore =
    # documentation not yet needed
    D100,D101,D102,D103,D104,D105,D106,D107,

    # high Jones complexity isn't always so bad
    WPS221,

    # removing all magic numbers seems like overkill
    WPS432,

    # assertions are useful for development code
    S101,

    # requiring trailing commas seems too picky
    C812,

    # nested imports can be fine
    WPS433,

    # number of local variables is already checked by pylint
    WPS210,

    # a redundant subscript can be more readible that defining a temp value
    WPS349,

    # not sure what is wrong with comparing an array to a float
    WPS459,

    # only makes sense once we're using proper docstrings
    D205, D400, DAR201, DAR101,

    # useless else has its moments
    WPS503,

    # no need to explicitly inherit from object
    WPS306,

    # for list comprehensions one-character variable names are useful
    WPS111,

    # some of these bad variable names are set by other packages
    WPS110,

    # too many extra lines
    WPS414,

    # seems to work fine
    WPS465,

    # already enforced by pylint
    WPS211,

    # not too many assert statements
    WPS218,

    # reusing string constants is less verbose that defining a variable
    WPS226,

    # positional arguments to formatting strings are redundant
    P101,

    # I am not worried about security issues associate with pickle
    S301, S403,

    # I am not using random to do cryptography, lol
    S311,

    # just let me use my f strings and explicit string concatenations
    WPS237, WPS305, WPS336,

    #this conflicts with Black
    E203,

    # imports in an init.py file are good and useful
    WPS412, WPS300, F401,

    # it's fine to have pass as a placeholder
    WPS420,

    # weird incompatibility with pandas
    WPS429,

    # hard to get around referring to the same column repeatedly while cleaning in pandas
    WPS204,

    # disagrees with pylint
    WPS528,

    # contradicts basic pandas syntax
    E712,

    # disagrees with our whitespace fixer
    WPS355,

    # OK to begin lines with a dot to break up long lines
    WPS348,

    # Per PEP 8, it's better to have a line break before a binary operator than not
    W503,

    # can't really get around cognitive complexity in the ETL...
    WPS231,

    # Need subscript slice assignment for chunked writing out to work
    WPS362,

    # Some issues with how it parses tuple arguments...
    WPS317,

    # Actually, lambda expressions are sick
    E731,

    # cryptic docstring error messages are unhelpful
    RST201, RST203

    # Fine to have public instance attributes aplenty
    WPS230
